<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceSharedDatabase" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8888/ServiceSharedDatabase.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceSharedDatabase"
                contract="IServiceSharedDatabase" name="BasicHttpBinding_IServiceSharedDatabase" />
        </client>
    </system.serviceModel>
</configuration>